CONTAINER_HOME=${HOME}/docker
CONTAINER_PROJECT=pynoser-classic
CONTAINER_NET=jolly

COMPOSE_PROFILES=default

UID=1000
GID=1000

PYNOSER_IMAGE=herrminator/pynoser:latest
# PYNOSER_IMAGE=docker.johler.ph/pynoser:latest

PYNOSER_SERVER=pynoser.johler.ph
PYNOSER_ROOT=/
PYNOSER_HTTP_PORT=8096
PYNOSER_HTTPS_PORT=8443

